name: Docs

on:
  push:
    branches:
    - main
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  docs:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Pages
        uses: actions/configure-pages@v4
      - name: Set up Swift
        uses: fwal/setup-swift@v2
        with:
          swift-version: '5.9'
      - name: Generate Docs
        uses: fwcd/swift-docc-action@v1
        with:
          target: MetroGTFS --target WMATA
          output: ./public
          transform-for-static-hosting: 'true'
          disable-indexing: 'true'
          hosting-base-path: WMATA.swift
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: macos-latest
    needs: docs

    steps:
      - name: Deploy Docs
        id: deployment
        uses: actions/deploy-pages@v4
